@import "~vuetify/src/styles/styles.sass";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&amp;display=swap");
$body-font-family: "Montserrat", sans-serif !important;
$heading-font-family: "Montserrat", sans-serif !important;

html,
body,
.v-application {
  font-family: $body-font-family;

}
//added all typography helper classes because of css specificity override
//https://vuetifyjs.com/en/styles/typography#typography
.v-application {
  .text-h1,
  .text-sm-h1,
  .text-md-h1,
  .text-lg-h1,
  .text-xl-h1,
  .text-h2,
  .text-sm-h2,
  .text-md-h2,
  .text-lg-h2,
  .text-xl-h2,
  .text-h3,
  .text-sm-h3,
  .text-md-h3,
  .text-lg-h3,
  .text-xl-h3,
  .text-h4,
  .text-sm-h4,
  .text-md-h4,
  .text-lg-h4,
  .text-xl-h4,
  .text-h5,
  .text-sm-h5,
  .text-md-h5,
  .text-lg-h5,
  .text-xl-h5,
  .text-h6,
  .text-sm-h6,
  .text-md-h6,
  .text-lg-h6,
  .text-xl-h6,
  .text-subtitle-1,
  .text-sm-subtitle-1,
  .text-md-subtitle-1,
  .text-lg-subtitle-1,
  .text-xl-subtitle-1,
  .text-subtitle-2,
  .text-sm-subtitle-2,
  .text-md-subtitle-2,
  .text-lg-subtitle-2,
  .text-xl-subtitle-2,
  .text-body-1,
  .text-sm-body-1,
  .text-md-body-1,
  .text-lg-body-1,
  .text-xl-body-1,
  .text-body-2,
  .text-sm-body-2,
  .text-md-body-2,
  .text-lg-body-2,
  .text-xl-body-2,
  .text-button,
  .text-sm-button,
  .text-md-button,
  .text-lg-button,
  .text-xl-button,
  .text-caption,
  .text-sm-caption,
  .text-md-caption,
  .text-lg-caption,
  .text-xl-caption,
  .text-overline
    .text-sm-overline
    .text-md-overline
    .text-lg-overline
    .text-xl-overline {
    font-family: $body-font-family;
  }
}
